<div align="center">
  <br />
  <table width="100%" border="0" cellspacing="0" cellpadding="1">
    <tr>
      <td>
        <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#666666">
          <tr>
            <td>

              <table width="100%" border="0" cellspacing="0" cellpadding="3">
                <tr class="titlewhite"> 
                  <td width="152" height="25" style="background-image:url(/bnotes/images/bg_mid.gif)" class="titlewhite">
                    <img src="/bnotes/images/bullet_small.gif" width="7" height="7" /> DENOMINATION </td>
                  <td width="3" style="background-image:url(/bnotes/images/bg_mid.gif)" class="titlewhite">&nbsp;</td>
                  <td width="107" align="center" style="background-image:url(/bnotes/images/bg_mid.gif)">
                    <img src="/bnotes/images/bullet_small.gif" width="7" height="7" /> SERIES </td>
                  <td width="101" align="center" style="background-image:url(/bnotes/images/bg_mid.gif)">&nbsp; 
		            <img src="/bnotes/images/bullet_small.gif" width="7" height="7" /> VERSION </td>
                  <td width="177" style="background-image:url(/bnotes/images/bg_mid.gif)">
                    <img src="/bnotes/images/bullet_small.gif" width="7" height="7" /> IN CIRCULATION </td>
                  <td width="171" style="background-image:url(/bnotes/images/bg_mid.gif)"> 
                    <img src="/bnotes/images/bullet_small.gif" width="7" height="7" /> OUT OF CIRCULATION </td>
                  <td width="121" align="center" style="background-image:url(/bnotes/images/bg_mid.gif)">
                    <img src="/bnotes/images/bullet_small.gif" width="7" height="7" /> COUNTERFEIT </td>
                </tr>
              </table>

              <!-- VALUTES -->

              <div style="overflow:auto; height:280px; background:white;">
                <table width="100%" border="0" cellspacing="0" cellpadding="3">

                <TMPL_LOOP NAME="valutes_loop">

                  <tr bgcolor="#FFFFFF"
                      class="conntent"
                      onMouseOver="tr_select(this,1);
                        document.imgfront.src = '/bnotes/data/<TMPL_VAR NAME=COUNTRY_CODE />/<TMPL_VAR NAME=BFRONT />';  
                        document.imgback.src  = '/bnotes/data/<TMPL_VAR NAME=COUNTRY_CODE />/<TMPL_VAR NAME=BBACK />';"
                      style="cursor:hand;"
                      onMouseOut="tr_select(this,0);"
                      onClick="document.location='/cgi-bin/bnotes/bnotes?action=<TMPL_VAR NAME=ACTION_VALUTE />&amp;bid=<TMPL_VAR NAME=NUMB />&amp;cid=<TMPL_VAR NAME=COUNTRY_CODE />'"> 
                    <td width="152">&nbsp;<b><TMPL_VAR NAME=NOMINAL /></b>&nbsp;<TMPL_VAR NAME=BCODE /></td>
                    <td width="3" style="background-image:url(/bnotes/images/vline.gif)">&nbsp;</td>
                    <td width="107" align="center"><strong><TMPL_VAR NAME=EMISSION /></strong></td>
	                <td width="3" style="background-image:url(/bnotes/images/vline.gif)">&nbsp;</td>
                    <td width="101" align="center"><TMPL_VAR NAME=SVERSION /></td>
	                <td width="3" style="background-image:url(/bnotes/images/vline.gif)">&nbsp;</td>
                    <td width="177" align="center"><img src="/bnotes/images/ok<TMPL_VAR NAME=YSIMG />.gif"
                                                        width="21"
                                                        height="21"
                                                        border="0" /></td>
 	                <td width="3" style="background-image:url(/bnotes/images/vline.gif)">&nbsp;</td>
                    <td width="171"><strong><TMPL_VAR NAME=YSTOPPED /></strong></td>
	                <td width="3" style="background-image:url(/bnotes/images/vline.gif)">&nbsp;</td>
                    <td width="121" align="center"><img src="/bnotes/images/ok<TMPL_VAR NAME=BFALSE />.gif"
                                                        width="21"
                                                        height="21"
                                                        border="0" /></td>
                  </tr>

                </TMPL_LOOP>

                </table>
              </div>

              <!-- END VALUTES -->

            </td>
          </tr>
        </table>

        <div align="center"><br />
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#666666">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="3">
                  <tr class="titlewhite"> 
                    <td height="25" align="left" style="background-image:url(/bnotes/images/bg_mid.gif)" class="titlewhite">
                      <img src="/bnotes/images/bullet_small.gif" /> FRONT</td>
                    <td style="background-image:url(/bnotes/images/bg_mid.gif)" class="titlewhite">&nbsp;</td>
                    <td width="52%" align="left" style="background-image:url(/bnotes/images/bg_mid.gif)">
                      <img src="/bnotes/images/bullet_small.gif" /> BACK</td>
                  </tr>

                  <tr bgcolor="#FFFFFF" class="conntent"> 
                    <td align="center"><font size="2"><strong></strong></font><font size="2">
                      <img onContextMenu='return false;' src="/bnotes/images/nullimg.gif"
                           width="280" border="0"
                           name="imgfront" /></font></td>
                    <td style="background-image:url(/bnotes/images/vline.gif)">&nbsp;</td>
                    <td align="center">
                      <img onContextMenu='return false;'
                           src="/bnotes/images/nullimg.gif"
                           width="280" border="0"
                           name="imgback" />
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
          </table>

          <div align="center"></div>
          <br />
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#666666">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="3">

                  <tr bgcolor="#FFFFFF" class="conntent">
                    <td align="left">
                      <img onContextMenu='return false;'
                           src="/bnotes/data/<TMPL_VAR NAME=COUNTRY_CODE>/<TMPL_VAR NAME=COUNTRY_CODE>.jpg"
                           height="40"
                           align="absmiddle" />&nbsp;
                      <strong><font face="Arial" size="3"><TMPL_VAR NAME=COUNTRY_NAME></font></strong>
                      <img src="/bnotes/images/line_orange.gif"
                           width="100%"
                           height="4" />
                    </td>
                  </tr>

                  <tr bgcolor="#FFFFFF" class="conntent">
                    <td align="left">
                      <img src="/bnotes/images/bullet.gif"
                           width="14"
                           height="12"
                           align="middle" />&nbsp;
                      <strong>NAME:</strong>&nbsp;<TMPL_VAR NAME=CURRENCY>
                    </td>
                  </tr>

                  <tr bgcolor="#FFFFFF" class="conntent"> 
                    <td align="left">
                      <img src="/bnotes/images/bullet.gif"
                           align="middle" />&nbsp;
                      <strong>COINS:</strong>&nbsp;<TMPL_VAR NAME=COINNAME>
                    </td>
                  </tr>

                  <tr bgcolor="#FFFFFF" class="conntent"> 
                    <td align="left">
                      <img src="/bnotes/images/bullet.gif"
                           align="middle" />&nbsp;
                      <strong>ISSUING BANK:</strong>&nbsp;<TMPL_VAR NAME=EBANKNAME>
                    </td>
                  </tr>

                  <tr bgcolor="#FFFFFF" class="conntent">
                    <td align="left"><TMPL_VAR NAME=MINFO><br /></td>
                  </tr>

                </table>

              </td>
            </tr>
          </table>
                      
        </div>

      </td>
    </tr>
  </table>
               
  <br />
</div>

