<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="bg" xml:lang="bg">
  <head>
    <title>SOFTWARE CATALOGUE BANKNOTES - SYSTEM ADMINISTRATION</title>
    <meta name="Keywords" CONTENT="BUSOFT, BURGAS, BULGARIA, BANKNOTES, COUNTERFEITS" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
    <link href="/bnotes/main.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/bnotes/main.js"></script>
  </head>

  <body style="leftmargin: 0; topmargin: 0">

    <br />
    <table width="600" border="0" align="center" cellpadding="1" cellspacing="0" bgcolor="#333333">
      <tr>
        <td>

          <!-- PAGE TOP BEGIN -->

          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr> 
              <td style="height: 35; background-image:url(/bnotes/images/top_bg.gif)">
	            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr class="titlewhite"> 
                    <td width="2%" height="38">
                      <img src="/bnotes/images/top_bg.gif" width="18" height="38" /></td>
                    <td width="2%">
                      <img src="/bnotes/images/bullet.gif" width="14" height="12" /></td>
                    <td width="20%" class="titlewhite">
                      <a href="/cgi-bin/bnotes/badmin?action=<TMPL_VAR NAME=ACTION_DBUPDATE />" class="titlewhite">DATA UPDATE</a></td>
                    <td width="2%">
                      <img src="/bnotes/images/bullet.gif" width="14" height="12" /></td>
                    <td width="20%">
                      <a href="/cgi-bin/bnotes/badmin?action=<TMPL_VAR NAME=ACTION_FUPDATE />" class="titlewhite">FILES UPDATE</a></td>
                    <td width="2%">
                      <img src="/bnotes/images/bullet.gif" width="14" height="12" /></td>
                    <td width="20%">
                      <a href="/cgi-bin/bnotes/badmin?action=<TMPL_VAR NAME=ACTION_TABLE />" class="titlewhite">USERS</a></td>
                    <td width="2%">
                      <img src="/bnotes/images/bullet.gif" width="14" height="12" /></td>
                    <td width="20%">
                      <a href="/cgi-bin/bnotes/badmin?action=<TMPL_VAR NAME=ACTION_PRODUCT />" class="titlewhite">INFORMATION</a></td>
		            <td width="2%">
		              <img src="/bnotes/images/bullet.gif" width="14" height="12" /></td>
                    <td width="20%">
                      <a href="/cgi-bin/bnotes/badmin?action=<TMPL_VAR NAME=ACTION_LOGOUT />" class="titlewhite">SIGN OUT</a></td>
		            <td width="2%" height="38">
		              <img src="/bnotes/images/top_bg.gif" width="18" height="37" />
		            </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="#bbb">
                <img src="/bnotes/images/top_gray.gif" width="100%" height="100%" /></td>
            </tr>
            <tr> 
              <td style="background-image:url(/bnotes/images/bg_mid.gif)">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="32%">
                      <img src="/bnotes/images/left_mid.gif" width="219" height="45" /></td>   
                    <td width="68%" align="left" valign="middle">
                      <font face="Arial" size="3" color="white"><strong><TMPL_VAR NAME=TITLE /></strong></font></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr> 

              <!-- PAGE TOP END -->

              <td bgcolor="#FFFFFF">
