<!-- PAGE ABOUT BEGIN -->
    
<div align="center" class="conntent"> 

  <table width="100%" border="0" cellspacing="0" cellpadding="20">
    <tr> 
      <td align="left"> 
        <font face="Arial" size="2">
          <br /><strong>CONTACT US:</strong><br />
          <br />BUSOFT ENGINEERING
          <br />k-s Br.Miladinovi 42A, Burgas 8000, BULGARIA 
          <br />call: +359-56-810956, 810957, 810958, fax: +359-56-810955 
          <br /><a href="http://www.busoft.bg/en/" target="_blank"><font face="Arial" size="2">www.busoft.bg/en/</font></a>
          <br />e-mail: <a href="mailto:office@bse.bg"><font face="Arial" size="2">office@bse.bg</font></a>
        </font>
      </td>
      <td align="center">
        <a href="http://www.bse.bg/">
          <img onContextMenu='return false;'
               src="/bnotes/images/busoft_znak.jpg"
               width="40%"
               style="border:0"></a></td>
    </tr>
  </table>

</div>

<!-- PAGE ABOUT END -->
