<br /><br />
<form name="formindex" action="/cgi-bin/bnotes/bnotes" method="POST">
  <table width="35%" border="0" align="center" cellpadding="1" cellspacing="0" bgcolor="#666666">
    <tr>
      <td>
        <table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#FFFFFF">
          <tr> 
            <td width="35%" height="40" align="right" class="conntent">&nbsp;<strong>User:</strong></td>
            <td width="65%"><input name="user" type="text" id="user" /></td>
          </tr>

          <tr> 
            <td width="25%" height ="40" align="right" class="conntent">&nbsp;<strong>Password:</strong></td>
            <td width="75%"><input name="password" type="password" id="password" /></td>
	  </tr>

          <tr>
              <td></td><td><a href="mailto:<TMPL_VAR NAME=FPWEMAIL>">Forgotten your password?</a></td>
          </tr>

          <tr align="right" > 
            <td height="30" colspan="2" style="background-image:url(/bnotes/images/bg_mid.gif)">
          <!-- input name="action" type="hidden" value="<TMPL_VAR NAME=ACTION>" />
              <input name="Submit" type="submit" class="button" value="Sign In" / -->
              <input name="action" type="submit" class="button" value="<TMPL_VAR NAME=ACTION>" />
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>            
</form>
<br />


