<br />
<table width="70%" border="0" align="center" cellpadding="1" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td>
      <table width="100%" border="1" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
        <tr> 
          <td width="35%" height="20" align="right" class="conntent">&nbsp;<strong>Version:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=PRODVER /></td>
        </tr>
      </table>
      <br />
      <table width="100%" border="1" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
        <tr> 
          <td width="35%" height="20" align="right" class="conntent">&nbsp;<strong>Data Version:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=DBVER /></td>
        </tr>
        <tr>
          <td width="35%" height ="20" align="right" class="conntent">&nbsp;<strong>Data Update From:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=DBDATE /></td>
        </tr>
        <tr>
          <td width="35%" height ="20" align="right" class="conntent">&nbsp;<strong>Pictures:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=IMGVER /></td>
        </tr>
        <tr>
          <td width="35%" height ="20" align="right" class="conntent">&nbsp;<strong>Pictures Update From:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=IMGDATE /></td>
        </tr>
      </table>
      <br />
      <table width="100%" border="1" cellpadding="3" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
          <td width="35%" height ="20" align="right" class="conntent">&nbsp;<strong>Licensed for use by:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=LICNAME /></td>
        </tr>
        <tr>
          <td width="35%" height ="20" align="right" class="conntent">&nbsp;<strong>Number of Users:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=LICUSR /></td>
        </tr>
        <tr>
          <td width="35%" height ="20" align="right" class="conntent">&nbsp;<strong>Another method:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=LICUSED /></td>
        </tr>
        <tr>
          <td width="35%" height ="20" align="right" class="conntent">&nbsp;<strong>The License is valid until:</strong></td>
          <td width="65%" class="conntent"><TMPL_VAR NAME=LICDATE /></td>
        </tr>
      </table>
    </td>
  </tr>
</table>            
<br />


