                <!-- PGE BOTTOM BEGIN -->

                <table style="width: 100%; height: 53" border="0" cellpadding="1" cellspacing="0">
                  <tr><td height="5"><img src="/bnotes/images/line_orange.gif" width="100%" height="4" /></td></tr>
                  <tr><td height="50" align="center"><TMPL_VAR NAME=MESSAGE /></td></tr>
                  <tr>             
                    <td height="50" align="center" class="conntent">
                      [ <a href="/cgi-bin/bnotes/bnotes?action=<TMPL_VAR NAME=ACTION_ABOUT />">About Us</a> 
                      | <a href="/cgi-bin/bnotes/bnotes?action=<TMPL_VAR NAME=ACTION_LOG />"><TMPL_VAR NAME=LOG_LABEL></a> 
                      | <a href="/cgi-bin/bnotes/bnotes?action=<TMPL_VAR NAME=ACTION_LIBRARY />">Library</a> 
                      | <a href="/cgi-bin/bnotes/bnotes?action=<TMPL_VAR NAME=ACTION_NEWS />">Updates</a> ]
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>

  </body>    
</html>

<!-- PGE BOTTOM END -->

