<br />
<table width="95%" border="0" align="center" cellpadding="1" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td>

      <br /><br />

      <form name="chpass" action="/cgi-bin/bnotes/badmin" method="POST">
        <table width="24%" border="0" align="center" cellpadding="1" cellspacing="0" bgcolor="#666666">
          <tr>
            <td>
              <table width="100%" border="0" cellpadding="1" cellspacing="0" bgcolor="#FFFFFF">
                <tr align="left" >
                  <td height="30" colspan="4" style="background-image:url(/bnotes/images/bg_mid.gif)" class="titlewhite">
                    &nbsp;<TMPL_VAR NAME=MESSAGE>
                  </td>
                </tr>
                <tr align="left">
                  <td height="40" class="conntent">&nbsp;&nbsp;<strong>User:</strong></td>
                  <td><input name="user"
                             type="text"
                             size="20"
                             value="<TMPL_VAR NAME=USER>" <TMPL_VAR NAME=USEREADONLY> /></td>
                  <td height ="40" class="conntent">&nbsp;<strong>Password:</strong></td>
                  <td><input name="password"
                             type="password"
                             size="21"
                             value="<TMPL_VAR NAME=PASSWORD>" /></td>
                </tr>
                <tr align="right" >
                  <td height="30" colspan="4" style="background-image:url(/bnotes/images/bg_mid.gif)">
                    <input name="action" type="submit" value="<TMPL_VAR NAME=CANCEL>" />&nbsp;
                    <input name="action" type="submit" value="<TMPL_VAR NAME=ACTION>" />&nbsp;
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </form>

    </td>
  </tr>
</table>            


