<!-- PAGE TABLE BEGIN -->

<table width="95%" border="<TMPL_VAR NAME=BORDER />" align="center" cellpadding="1" cellspacing="0" bgcolor="#fff">
  <tr>
    <td>


      <table width="100%" border="<TMPL_VAR NAME=BORDER />" cellpadding="3" cellspacing="0" bgcolor="#fff">

        <tr align="center" class="conntent">
          <td><strong>№</strong></td>
          <td><strong>ACTIVE</strong></td>
          <td><strong>LOCKED</strong></td>
          <td><strong>USER</strong></td>
          <td><strong>code</strong></td>
          <td><strong>ADMIN</strong></td>
          <td><strong>BGN</strong></td>
          <td><strong>CAD</strong></td>
          <td><strong>CHF</strong></td>
          <td><strong>DKK</strong></td>
          <td><strong>USD</strong></td>
          <td><strong>TRY</strong></td>
          <td><strong>EUR</strong></td>
          <td><strong>GBP</strong></td>
          <td><strong>NOK</strong></td>
          <td><strong>RUB</strong></td>
          <td><strong>B11</strong></td>
          <td><strong>B12</strong></td>
          <td><strong>B13</strong></td>
          <td><strong>B14</strong></td>
          <td><strong>FOX</strong></td>
	      <!-- td><strong>CURRENCY</strong></td -->
	      <td><strong>CREATED</strong></td>
	      <td><strong>LAST LOGIN</strong></td>
	      <!-- td><strong>SESSION</strong></td -->
          <td><strong>DETAIL</strong></td>
          <td><strong>UPDATE</strong></td>
          <td><strong>DELETE</strong></td>
        </tr>

        <TMPL_LOOP NAME=LOOP_1 />

      <form action="/cgi-bin/bnotes/badmin" method="POST">

	    <tr align="center" class="conntent">
	      <td align="center"><TMPL_VAR NAME=ID /></td>
          <td><input class="read" type="checkbox" name="active"
                     onclick="return false;" <TMPL_VAR NAME=ACTIVE /> /></td>
          <td><input class="read" type="checkbox" name="locked"
                     onclick="return false;" <TMPL_VAR NAME=LOCKED /> /></td>
          <td><input class="read" type="text" name="user" size="8"
                     value="<TMPL_VAR NAME=USER />" readonly /></td>
          <td><TMPL_VAR NAME=ADROW /></td>
          <td><input type="checkbox" name="ADM" value=1 <TMPL_VAR NAME=ADMIN /> /></td>
          <td><input type="checkbox" name="BGN" value=1 <TMPL_VAR NAME=ADBGN /> /></td>
          <td><input type="checkbox" name="CAD" value=1 <TMPL_VAR NAME=ADCAD /> /></td>
          <td><input type="checkbox" name="CHF" value=1 <TMPL_VAR NAME=ADCHF /> /></td>
          <td><input type="checkbox" name="DKK" value=1 <TMPL_VAR NAME=ADDKK /> /></td>
          <td><input type="checkbox" name="USD" value=1 <TMPL_VAR NAME=ADUSD /> /></td>
          <td><input type="checkbox" name="TRY" value=1 <TMPL_VAR NAME=ADTRY /> /></td>
          <td><input type="checkbox" name="EUR" value=1 <TMPL_VAR NAME=ADEUR /> /></td>
          <td><input type="checkbox" name="GBP" value=1 <TMPL_VAR NAME=ADGBP /> /></td>
          <td><input type="checkbox" name="NOK" value=1 <TMPL_VAR NAME=ADNOK /> /></td>
          <td><input type="checkbox" name="RUB" value=1 <TMPL_VAR NAME=ADRUB /> /></td>
          <td><input type="checkbox" name="B11" value=1 <TMPL_VAR NAME=ADB11 /> /></td>
          <td><input type="checkbox" name="B12" value=1 <TMPL_VAR NAME=ADB12 /> /></td>
          <td><input type="checkbox" name="B13" value=1 <TMPL_VAR NAME=ADB13 /> /></td>
          <td><input type="checkbox" name="B14" value=1 <TMPL_VAR NAME=ADB14 /> /></td>
          <td><input type="checkbox" name="FOX" value=1 <TMPL_VAR NAME=ADFOX /> /></td>
          <!-- td><TMPL_VAR NAME=CURRENCY /></td -->
	      <td><TMPL_VAR NAME=CREATED /></td>
          <td><TMPL_VAR NAME=LOGGED /></td>
          <!-- td><TMPL_VAR NAME=SESSIONS /></td -->
          <td><input name="action"
                     type="submit"
                     value="<TMPL_VAR NAME=ACTDET />"
                     title="change <TMPL_VAR NAME=USER /> password"
                     class="write"
                     style="background-image: url('/bnotes/images/information.gif'); border:none; background-repeat:no-repeat;background-size:100% 100%;" /></td>
          <td><input name="action"
                     type="submit"
                     value="<TMPL_VAR NAME=ACTUP />"
                     title="save <TMPL_VAR NAME=USER /> access"
                     class="write"
                     style="background-image: url('/bnotes/images/ok1.gif'); border:none; background-repeat:no-repeat;background-size:100% 100%;" /></td>
          <td><input name="action"
                     type="submit"
                     value="<TMPL_VAR NAME=ACTDEL />"
                     title="delete <TMPL_VAR NAME=USER /> forever"
                     class="write"
                     style="background-image: url('/bnotes/images/delete.jpg'); border:none; background-repeat:no-repeat;background-size:100% 100%;" /></td>
	      <!-- img src="/bnotes/images/delete.jpg" width="20" height="20" border="0" -->
        </tr>

      </form>

      </TMPL_LOOP>

      <tr>
        <td colspan="3">
        <td colspan="1"
            class="write"
            title="create new user"
            onClick="document.location='/cgi-bin/bnotes/badmin?action=<TMPL_VAR NAME=ACTNEW>'" 
            style="background-image: url('/bnotes/images/plus.gif'); border:none; background-repeat:no-repeat;background-size:100% 100%; text-align: center;" />new</td>
        <td colspan="22"
            class="write"
            title="<TMPL_VAR NAME=ILABEL>"
            onClick="document.location='/cgi-bin/bnotes/badmin?action=<TMPL_VAR NAME=IACTION>'" 
            style="background-color: <TMPL_VAR NAME=ICON>; border:none; background-repeat:no-repeat;background-size:100% 100%; text-align: right;" /><TMPL_VAR NAME=ILABEL></td>
      </tr>

    </table>


    </td>
  </tr>
</table>            

<!-- PAGE TABLE END -->
